# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# =========================
# Uploads & Runtime Data
# =========================
backend/uploads/
backend/workspace/

# Python cache
.pytest_cache/
.mypy_cache/

# Logs
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db